frontend/create-project-pledge.json
[{"id":"4059d7c6.b04828","type":"ui_form","z":"2a258118.55217e","name":"","label":"","group":"249a44f0.5b7d8c","order":1,"width":0,"height":0,"options":[{"label":"Aid Org","value":"aidOrg","type":"text","required":true},{"label":"Pledge Number","value":"pledgeNumber","type":"text","required":true},{"label":"Name","value":"name","type":"text","required":true},{"label":"Description","value":"description","type":"text","required":true},{"label":"Funds Required","value":"fundsRequired","type":"text","required":true}],"formValue":{"aidOrg":"","pledgeNumber":"","name":"","description":"","fundsRequired":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":98,"y":72,"wires":[["b5ea4a94.68fe98"]]},{"id":"b5ea4a94.68fe98","type":"http request","z":"2a258118.55217e","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://0b8c7c94.ngrok.io/CreateProjectPledge","tls":"","proxy":"","authType":"basic","x":310,"y":72,"wires":[["77637671.336b58"]]},{"id":"4e5352ba.99305c","type":"ui_text","z":"2a258118.55217e","group":"a8d60eaa.418028","order":2,"width":0,"height":0,"name":"","label":"Response Message: ","format":"{{msg.payload.message}}","layout":"row-left","x":776,"y":72,"wires":[]},{"id":"77637671.336b58","type":"json","z":"2a258118.55217e","name":"","property":"payload","action":"","pretty":false,"x":535,"y":72,"wires":[["4e5352ba.99305c","fe1927f1.2ae9c8"]]},{"id":"fe1927f1.2ae9c8","type":"debug","z":"2a258118.55217e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":752,"y":156,"wires":[]},{"id":"5b0ac289.11a3f4","type":"ui_form","z":"2a258118.55217e","name":"","label":"","group":"40839598.3d0914","order":1,"width":0,"height":0,"options":[{"label":"pledgeId","value":"pledgeId","type":"text","required":true}],"formValue":{"pledgeId":""},"payload":"","submit":"query","cancel":"cancel","topic":"","x":100,"y":324,"wires":[["ee1e5a2b.28a19"]]},{"id":"ee1e5a2b.28a19","type":"http request","z":"2a258118.55217e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://0b8c7c94.ngrok.io/ProjectPledge/{{{payload.pledgeId}}}","tls":"","proxy":"","authType":"basic","x":312,"y":324,"wires":[["304f4856.734318","f12fcc1b.2f91b8"]]},{"id":"304f4856.734318","type":"json","z":"2a258118.55217e","name":"","property":"payload","action":"","pretty":false,"x":537,"y":324,"wires":[["aefc4d35.451a98","5245dc84.cf05f4","20914eb3.36c472","1551d881.7f23ff","9e4d6dee.9030c"]]},{"id":"f12fcc1b.2f91b8","type":"debug","z":"2a258118.55217e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":555,"y":261,"wires":[]},{"id":"aefc4d35.451a98","type":"ui_text","z":"2a258118.55217e","group":"6191a4c0.ed3f7c","order":1,"width":0,"height":0,"name":"","label":"aidOrg:","format":"{{msg.payload.aidOrg}}","layout":"row-spread","x":932.5,"y":324,"wires":[]},{"id":"5245dc84.cf05f4","type":"ui_text","z":"2a258118.55217e","group":"6191a4c0.ed3f7c","order":8,"width":0,"height":0,"name":"","label":"description:","format":"{{msg.payload.description}}","layout":"row-spread","x":943.5,"y":388,"wires":[]},{"id":"20914eb3.36c472","type":"ui_text","z":"2a258118.55217e","group":"6191a4c0.ed3f7c","order":9,"width":0,"height":0,"name":"","label":"status:","format":"{{msg.payload.status}}","layout":"row-spread","x":924,"y":498,"wires":[]},{"id":"1551d881.7f23ff","type":"ui_text","z":"2a258118.55217e","group":"6191a4c0.ed3f7c","order":2,"width":0,"height":0,"name":"","label":"fundsRequired:","format":"{{msg.payload.fundsRequired}}","layout":"row-spread","x":951,"y":446,"wires":[]},{"id":"9e4d6dee.9030c","type":"switch","z":"2a258118.55217e","name":"","property":"payload.funds","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":429.5,"y":713,"wires":[["808eda00.4ed2","3e4bd7e4.eac948","2adbe7c9.5cc","8fa459f6.59ed8","87d72370.d2194"],["7fa9b1c9.12c8f8"]]},{"id":"808eda00.4ed2","type":"ui_text","z":"2a258118.55217e","group":"6191a4c0.ed3f7c","order":3,"width":0,"height":0,"name":"","label":"approvedFunding:","format":"{{msg.payload.funds.approvedFunding}}","layout":"row-spread","x":966.5,"y":587,"wires":[]},{"id":"3e4bd7e4.eac948","type":"ui_text","z":"2a258118.55217e","group":"6191a4c0.ed3f7c","order":4,"width":0,"height":0,"name":"","label":"fundingType:","format":"{{msg.payload.funds.fundingType}}","layout":"row-spread","x":941,"y":644,"wires":[]},{"id":"2adbe7c9.5cc","type":"ui_text","z":"2a258118.55217e","group":"6191a4c0.ed3f7c","order":5,"width":0,"height":0,"name":"","label":"fundsPerInstallment:","format":"{{msg.payload.funds.fundsPerInstallment}}","layout":"row-spread","x":972,"y":701,"wires":[]},{"id":"8fa459f6.59ed8","type":"ui_text","z":"2a258118.55217e","group":"6191a4c0.ed3f7c","order":6,"width":0,"height":0,"name":"","label":"nextFundingDueInDays:","format":"{{msg.payload.funds.nextFundingDueInDays}}","layout":"row-spread","x":984,"y":757,"wires":[]},{"id":"87d72370.d2194","type":"ui_text","z":"2a258118.55217e","group":"6191a4c0.ed3f7c","order":7,"width":0,"height":0,"name":"","label":"totalFundsReceived:","format":"{{msg.payload.funds.totalFundsReceived}}","layout":"row-spread","x":968,"y":823,"wires":[]},{"id":"7fa9b1c9.12c8f8","type":"function","z":"2a258118.55217e","name":"Clear funds","func":"//Should be solved in a better way!!!\n\nlet funds = {};\nfunds.approvedFunding = null;\nfunds.fundingType = null;\nfunds.fundsPerInstallment = null;\nfunds.govOrgId = null;\nfunds.nextFundingDueInDays = null;\nfunds.totalFundsReceived = null;\n\nmsg.payload.funds = funds;\n\nreturn msg;","outputs":1,"noerr":0,"x":629.5,"y":822,"wires":[["808eda00.4ed2","3e4bd7e4.eac948","2adbe7c9.5cc","8fa459f6.59ed8","87d72370.d2194"]]},{"id":"249a44f0.5b7d8c","type":"ui_group","z":"","name":"Create Project Pledge","tab":"251b7393.88c524","disp":true,"width":"6","collapse":false},{"id":"a8d60eaa.418028","type":"ui_group","z":"","name":"Create Project Pledge Result","tab":"251b7393.88c524","order":2,"disp":true,"width":"7","collapse":false},{"id":"40839598.3d0914","type":"ui_group","z":"","name":"Query Project Pledge","tab":"251b7393.88c524","order":3,"disp":true,"width":"6","collapse":false},{"id":"6191a4c0.ed3f7c","type":"ui_group","z":"","name":"Query Result","tab":"251b7393.88c524","order":4,"disp":true,"width":"7","collapse":false},{"id":"251b7393.88c524","type":"ui_tab","z":"","name":"Dashboard Tracking Donations","icon":"dashboard","disabled":false,"hidden":false}]