frontend/transfer-funds.json
[{"id":"5b17765a.2b9bf","type":"ui_form","z":"15f6563b.33f20a","name":"","label":"","group":"4f853cc2.d76d4c","order":1,"width":0,"height":0,"options":[{"label":"pledgeId","value":"pledgeId","type":"text","required":true}],"formValue":{"pledgeId":""},"payload":"","submit":"transfer","cancel":"cancel","topic":"","x":89,"y":103,"wires":[["79e4f58d.31375c","2b242caa.81a924"]]},{"id":"79e4f58d.31375c","type":"http request","z":"15f6563b.33f20a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://0b8c7c94.ngrok.io/TransferFunds","tls":"","proxy":"","authType":"basic","x":271,"y":103,"wires":[["1af1a67f.0c3502"]]},{"id":"2b242caa.81a924","type":"function","z":"15f6563b.33f20a","name":"Store pledgeId","func":"flow.set('pledgeId',msg.payload.pledgeId);\n","outputs":0,"noerr":0,"x":280.5,"y":172,"wires":[]},{"id":"1af1a67f.0c3502","type":"function","z":"15f6563b.33f20a","name":"Retrieve pledgeId","func":"msg.payload = {};\nmsg.payload.pledgeId = flow.get('pledgeId');\n\nreturn msg;","outputs":1,"noerr":0,"x":514.5,"y":103,"wires":[["b1698aaa.7e5b"]]},{"id":"b1698aaa.7e5b","type":"http request","z":"15f6563b.33f20a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://0b8c7c94.ngrok.io/ProjectPledge/{{{payload.pledgeId}}}","tls":"","proxy":"","authType":"basic","x":721.5,"y":103,"wires":[["e8b60f56.e55468"]]},{"id":"e8b60f56.e55468","type":"json","z":"15f6563b.33f20a","name":"","property":"payload","action":"","pretty":false,"x":750.5,"y":178,"wires":[["52012c11.1c66a4","9cc56a03.dad74"]]},{"id":"992e1e14.28c44","type":"ui_gauge","z":"15f6563b.33f20a","name":"","group":"b36391bd.615db8","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"200000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1087.5,"y":217,"wires":[]},{"id":"52012c11.1c66a4","type":"function","z":"15f6563b.33f20a","name":"prep Gauge","func":"let totalFundsReceived = msg.payload.funds.totalFundsReceived;\n\nmsg.payload = totalFundsReceived;\n\nreturn msg;","outputs":1,"noerr":0,"x":921.5,"y":218,"wires":[["992e1e14.28c44"]]},{"id":"9cc56a03.dad74","type":"debug","z":"15f6563b.33f20a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920.5,"y":138,"wires":[]},{"id":"4f853cc2.d76d4c","type":"ui_group","z":"","name":"Transfer funds","tab":"951eb2c1.760338","order":1,"disp":true,"width":"6","collapse":false},{"id":"b36391bd.615db8","type":"ui_group","z":"","name":"Display Funds Received","tab":"951eb2c1.760338","order":2,"disp":true,"width":"6","collapse":false},{"id":"951eb2c1.760338","type":"ui_tab","z":"","name":"Dashboard Funds Transfer","icon":"dashboard","order":2,"disabled":false,"hidden":false}]